{% extends 'layout.html' %}

{% block content %}

<main>
    {% if person is not none %}
        <table>
            <tr>
                <th>Id number</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            <tr>
                <td>{{ person.id_number }}</td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
            </tr>
        </table>
    {% else %}
        <p>There is no matching Person.</p>
    {% endif %}
</main>

{% endblock %}